/out
bin
obj
/packages/DockPanelSuite*
/packages/SharpZipLib*
/packages/log4net*
/packages/NUnit*
/packages/RhinoMocks*
/.vs
/.nuget/NuGet.exe
/Doc/Help
/Doc/userdoc/_templates
/Doc/userdoc/_build
/Doc/userdoc/_static
/FdoCmd/*.user
/packages/CommandLineParser.2.6.0
