/out
/FdoInfo/obj
/FdoToolbox/obj
/FdoToolbox.AddInManager/obj
/FdoToolbox.Base/obj
/FdoToolbox.Core/obj
/FdoToolbox.Core.Tests/obj
/FdoToolbox.DataStoreManager/obj
/FdoToolbox.Express/obj
/FdoToolbox.Raster/obj
/FdoToolbox.Tasks/obj
/FdoUtil/obj
/Thirdparty/SharpDevelop/ICSharpCode.Core/obj
/Thirdparty/SharpDevelop/ICSharpCode.Core/bin
/Thirdparty/SharpDevelop/ICSharpCode.TextEditor/Project/obj
/Thirdparty/SharpDevelop/ICSharpCode.TextEditor/Project/bin
/Thirdparty/SharpMap/SharpMap/obj
/Thirdparty/SharpMap/SharpMap/bin
/Thirdparty/SharpMap/SharpMap.UI/obj
/Thirdparty/SharpMap/SharpMap.UI/bin
/packages/SharpZipLib.0.86.0
/packages/DockPanelSuite.2.8.0.0
/packages/log4net.2.0.2
/packages/NUnit.2.6.3
/packages/RhinoMocks.3.6.1

/.nuget/NuGet.exe
